.wizard-icon {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 48px; }

.has-icon {
  color: #8dcbce;
  background-size: auto 65px;
  background-repeat: no-repeat;
  padding-left: 75px; }

.btn-oversize {
  text-transform: uppercase;
  margin: 20px 12px;
  font-size: 1.3em; }

.icon-happywhale {
  background-image: url(../images/img_whale_circle.svg); }

.icon-voyageviewer {
  background-image: url(../images/img_voyageviewer.svg); }

.icon-captain {
  background-image: url(../images/img_captain.svg); }

.icon-user {
  background-image: url(../images/img_user_on.svg); }

/* h/t https://stackoverflow.com/a/26921844/1525311 */
.center-cropped {
  overflow: hidden; }

.center-cropped img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%); }

#voyageviewer-match-banner-header {
  height: 308px;
  width: 100%;
  background-size: 100% 100%;
  background-color: #007AC7;
  color: #FFF;
  position: absolute;
  left: 0;
  background-image: url(../images/img_voyage_match_banner_header.jpg); }

#voyageviewer-match-banner-header .banner-main,
#voyageviewer-match-banner-header .banner-info {
  position: absolute;
  right: 40px; }

#voyageviewer-match-banner-header .banner-main {
  font-size: 2.8em;
  font-weight: bold;
  text-transform: uppercase;
  bottom: 40%; }

#voyageviewer-match-banner-header .banner-info {
  font-size: 1.5em;
  bottom: 20%;
  width: 22%;
  text-align: right; }

.hr-light {
  height: 0;
  margin: 20px 0 10px 0;
  padding: 0;
  border-top: solid 1px #8dcbce; }

/* specific to h1, i think, so not in generic .has-icon */
.maincontent h1.has-icon {
  height: 70px;
  font-size: 1.7em;
  font-weight: bold;
  padding-top: 12px;
  line-height: 1.7em; }

.maincontent h2 {
  color: #8dcbce;
  font-size: 1.3em; }

.match-pair {
  padding: 15px;
  background-color: #EFF1F1; }

.match-pair .image {
  display: inline-block;
  width: 48%; }

.match-pair .image-right {
  margin-left: 25px; }

.match-pair img {
  width: 100%; }

.wizard-page-header span {
  color: #94a1a4; }

li.active .wizard-page-header span {
  color: #8dcbce; }

li.active .wizard-icon.info {
  background: url(../images/img_user_on.svg) no-repeat;
  background-size: auto 48px; }

li.active .wizard-icon.upload {
  background: url(../images/img_upload_on.svg) no-repeat;
  background-size: auto 48px; }

li.active .wizard-icon.map {
  background: url(../images/img_map_on.svg) no-repeat;
  background-size: auto 48px; }

.wizard-icon.info {
  background: url(../images/img_user_off.svg) no-repeat;
  background-size: auto 48px; }

.wizard-icon.upload {
  background: url(../images/img_upload_off.svg) no-repeat;
  background-size: auto 48px; }

.wizard-icon.map {
  background: url(../images/img_map_off.svg) no-repeat;
  background-size: auto 48px; }

.voyage-viewer p {
  font-size: 1.1em; }

.voyage-viewer .being-avatar {
  margin-right: 15px; }

.voyage-viewer .being-avatar img {
  border-radius: 4px; }

.voyage-sighting {
  height: 150px;
  width: 270px;
  display: inline-block;
  margin: 4px; }

.voyage-recent {
  height: 100px;
  width: 180px;
  display: inline-block;
  margin: 4px; }

.maincontent hr {
  color: #8dcbce;
  background-color: #8dcbce;
  height: 1px; }

.homecontainer .btn .btn-primary {
  background-color: #107D9F;
  color: #EFEFEF; }

.maincontent .btn .btn-primary {
  background-color: #107D9F;
  color: #EFEFEF; }

.sight-date {
  color: #8dcbce;
  font-size: 2.5em; }

.sight-date-text {
  color: #96a1a5;
  font-size: 1.8em; }

.sight-number {
  color: #8dcbce;
  font-size: 4.0em;
  text-align: center; }

.sight-stats {
  line-height: normal; }

/* related to our generic(?) "recent activity" .. this is our main wrapping div */
.activity {
  position: relative;
  margin-bottom: 10px;
  height: 50px; }

/* generally the icon of the person doing the thing */
.activity-icon {
  float: left; }

/* so-and-so did this thing */
.activity-text {
  display: inline-block;
  line-height: 47px; }

#password-success {
  font-size: 1.7em;
  display: none; }

.individual-cluster-count {
  background-color: #107D9F;
  color: #fff;
  font-size: 1.6em; }

/*# sourceMappingURL=cust.css.map */
