.wizard-icon {
    margin-right: 10px;
    display: inline-block;
    vertical-align:middle;
    width: 48px;
    height: 48px;
}

.has-icon {
    color: #8dcbce;
    background-size: auto 65px;
    background-repeat: no-repeat;
    padding-left: 75px;
}

.btn-oversize {
    text-transform: uppercase;
    margin: 20px 12px;
    font-size: 1.3em;
}

.icon-happywhale {
    background-image: url(../images/img_whale.svg);
}
.icon-voyageviewer {
    background-image: url(../images/img_voyageviewer.svg);
}
.icon-captain {
    background-image: url(../images/img_captain.svg);
}

.hr-light {
    height: 0;
    margin: 20px 0 10px 0;
    padding: 0;
    border-top: solid 1px #8dcbce;
}

/* specific to h1, i think, so not in generic .has-icon */
.maincontent h1.has-icon {
    height: 70px;
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 12px;
    line-height: 1.7em;
}

.maincontent h2 {
    color: #8dcbce;
    font-size: 1.3em;
}

.match-pair {
    padding: 15px;
    background-color: #EFF1F1;
}
.match-pair .image {
    display: inline-block;
    width: 48%;
}
.match-pair .image-right {
    margin-left: 25px;
}
.match-pair img {
    width: 100%;
}

.wizard-page-header span {
    color: #94a1a4;
}

li.active .wizard-page-header span {
    color: #8dcbce;
}

li.active .wizard-icon.info {
    background: url(../images/img_enterinfo_on.svg) no-repeat;
    background-size: auto 48px;
}

li.active .wizard-icon.upload {
    background: url(../images/img_upload_on.svg) no-repeat;
    background-size: auto 48px;
}

li.active .wizard-icon.map {
    background: url(../images/img_map_on.svg) no-repeat;
    background-size: auto 48px;
}

.wizard-icon.info {
    background: url(../images/img_enterinfo_off.svg) no-repeat;
    background-size: auto 48px;
}

.wizard-icon.upload {
    background: url(../images/img_upload_off.svg) no-repeat;
    background-size: auto 48px;
}

.wizard-icon.map {
    background: url(../images/img_map_off.svg) no-repeat;
    background-size: auto 48px;
}

.voyage-viewer p {
    font-size: 1.1em;
}

.maincontent hr {
    color: #8dcbce;
    background-color: #8dcbce;
    height: 1px;
}

.homecontainer .btn .btn-primary {
    background-color: #107D9F;
    color: #EFEFEF;
}

.maincontent .btn .btn-primary {
    background-color: #107D9F;
    color: #EFEFEF;
}
