div
    wb-encounter-search(search-encounter-done="searchEncounterDone(encounter)")
    wb-encounter-edit(ng-if="encdata"
                      enc-data="encdata"
                      edit-encounter-done="editEncounterDone(encdata)")
