div
    legend Encounter Search
    wb-encounter-search(search-encounter-done="searchEncounterDone(encounter)")
    div(ng-if="encdata")
        legend Encounter
            a(href="javascript:;" ng-click="edit()" uib-tooltip="Edit" ng-disabled="mode_edit")
                i.glyphicon.glyphicon-edit
            a(href="javascript:;" ng-click="cancel()" uib-tooltip="Cancel")
                i.glyphicon.glyphicon-remove
        wb-encounter-view(ng-if="encdata && ! mode_edit" enc-data="encdata")
        wb-encounter-edit(ng-if="encdata && mode_edit"
                          enc-data="encdata"
                          edit-encounter-done="editEncounterDone(encdata)")
