extends partials/layout

block customcss
    style(type="text/css").
        body {
            background: #fff;
        }

block title
    | Working on matching your submission

block content
    include partials/message-header.jade
    +container()
        p It's been [five] days since you submitted your photo to [HappyWhale].
        p We wanted to let you know that we are still working on matching your submission to an individual [Humpback Whale]. Once a match is made, you will be notified and receive additional information about your sighting.
        p
            h5 Here is some information from your submission:
            +submission("http://wildbook.devhappywhale.com/shepherd_data_dir/mediasubmission/217/10957.jpg", "9/14/2015", "Santa Cruz, CA (41 25 01N and 120 58 57W)", "1")
        p
            span In the meantime, feel free to browse our website to see the most recent submissions and matches of wildlife around the world! 
            b Thank you for supporting our research!
    +centeredbutton('VISIT SITE', 'http://happywhale.com')

block boxes
    include partials/useful.jade