//
// Theme's variables file
// Overrides the wildbook variables.scss here
//

//Text

//example: this line is not needed because the theme inherits the $font-family of the original style, but if it exists it overrides the original
//$font-family: 'Courier New', sans-serif;

//$font-size-base: 18px;

$font-size-small: 12px;

$font-color-main: #8dcbce;

$font-color-heading: #96a1a5;

$font-color-inverse: #efefef;

$font-color-dark: #107D9F;


//Site Colors

$background-default: #fff;

$background-dark: #107D9F;

$background-dark-selected: #087A9A;

$border-color-light: #96a1a5;

//Photo Assets

$logo-svg: url(../cust/images/logo.svg);