form.form.ng-cloak(novalidate, wb-key-handler-form)
    h2 Survey
    md-divider
    md-content(layout="row" layout-align="start end")
        md-input-container(flex="50")
            label Organization
            md-select(ng-model="data.survey.organization", ng-change="orgChange()")
                md-option(value="org.displayName for org in main.config.orgs track by org.orgId")
        md-input-container(flex="50")
            label Survey Number:
            input(ng-model="data.survey.surveyNumber")
    h2 Part
    md-divider
    md-content(layout="row" layout-align="start end" layout-wrap)
        md-input-container(flex="50")
            label Vessel:
            md-select(ng-model="data.part.vessel")
                md-option(value = "vessel.displayName for vessel in info.vessels track by vessel.vesselId")
        md-input-container(flex="50")
            label Code:
            input(type="text", ng-model="data.part.code")
        md-datepicker(ng-model="data.part.partDate" layout="row" layout-align="start end" required md-placeholder="Date:" flex="33" ng-class="{'has-error': encounterForm.date.$invalid}")
        time-input(flex="33" ng-model="data.part.starttime" placeholder="Start Time")
        time-input(flex="33" ng-model="data.part.endtime" placeholder="End Time")
        div(layout="row" flex="100")
            location-edit(location="data.part.location" location-edit flex="100")
        div(layout="row" flex="100")
            md-input-container
                label Comments:
                textarea(type="textarea", rows="4", ng-model="data.part.comments")
    div(flex)
        md-button.md-whiteframe-1dp(type="submit" ng-click="save()" aria-label="Save") Save
