form.form.ng-cloak(novalidate, wb-key-handler-form)
    h2 Survey
    md-divider
    div.mt-40(layout="row" layout-wrap layout-align="start center")
        div(layout="column")
            wb-org-admin(callback="getOrgId(orgId)" org="data.survey.organization")
        div(layout="column" flex-offset="5" flex="30")
            md-input-container
                label Survey Number:
                input(ng-model="data.survey.surveyNumber")
    h2 Part
    md-divider
    md-content(layout="row" layout-align="start end" layout-wrap)
        div.mt-40(layout="row" flex="100" layout-wrap layout-align="start center")
            div(layout="column").mr-20
                wb-vessels-admin(callback="getVesselId(vessel)" vesselobj="data.part.vessel")
            md-input-container(layout="column" flex="30")
                label Code:
                input(type="text", ng-model="data.part.code")
        div(layout="row" flex="100" layout-wrap)
            wb-crew-edit(callback="addCrewMember(user)" data="data")
        div(layout="row" layout-wrap)
            md-datepicker(ng-model="dateObj" layout="row" layout-align="start end" required md-placeholder="Date:" ng-class="{'has-error': encounterForm.date.$invalid}")
            div.ml-20(layout="row")
                label Start Time:
                png-time-input(model="data.part.starttime" time-mode="24")
                span.ml-10.md-primary-text 24h
            div.ml-20(layout="row")
                label End Time:
                png-time-input(model="data.part.endtime" time-mode="24")
                span.ml-10.md-primary-text 24h
        div.mt-40(layout="row" flex="100")
            location-edit(location="data.part.location" location-edit flex="100")
        div(layout="row" flex="100")
            md-input-container(flex="100")
                label Comments:
                textarea(type="textarea", rows="4", ng-model="data.part.comments")
    div(flex)
        md-button.md-whiteframe-1dp(type="submit" ng-click="save()" aria-label="Save") Save
