/* Home */

.homecontainer {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

.homecontainer .btn .btn-primary {
    background-color: $background-dark;
    color: $font-color-inverse;
}

.homeimage {
    width: 100%;
}

.banner {
    background-color: rgba(6,8,8,0.6);
    position: absolute;
    width: 100%;
    height: 150px;
    top: 362px;
    z-index: 100;
    text-align: center;
}

.banner p {
    font-size: 36px;
    color: $font-color-inverse;
}

.bannerreport {
    padding-top: 20px;
}

.home-content h1 {
    font-size: 24px;
    color: #94a1a4;
}

.home-content h2 {
    font-size: 18px;
    color: $font-color-dark;
    margin: 20px 0 20px;
}

.home-col .row-inner {
    margin-bottom: 30px;
}

///////////////
//social feeds
///////////////

.social-flex {
    @include flexbox-display-flex;
    @include flexbox-flex-flow(row nowrap);
    @include flexbox-justify-content(space-around);
    margin: 0 auto;
    max-width: 350px;
}

.instagram-feed-flex {
    @include flexbox-display-flex;
    @include flexbox-flex-flow(row wrap);
    @include flexbox-justify-content(center);
    margin: 0 auto;
}

.instagram-feed-item {
    margin: 0 2px 2px 0;
    display: block;
}

.instagram-feed-title {
    width: 100%;
    text-align: center;
}

.instagram-feed-flex img {
    width: 150px;
    height: auto;
}

.twitterfeed {
    height: 75%;
    overflow-y: auto;
}

.twitterfeed blockquote {
    padding: 5px 10px;
    margin: 0 0 8px;
    font-size: 16px;
}

.spotlight {
    position: relative;
}

.spotlightphoto {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 100;
}

.spotlightcontents {
    position: absolute;
    top: 0px;
    left: 110px;
    z-index: 100;
}

.spotlightcontents p {
    font-size: $font-size-small;
    white-space: pre;
}