/* Individual */

.maincontent {
    position: relative;
    width: 100%;
    max-width: 1028px;
    margin: 0 auto 80px;
}

.maincontent h1.has-icon {
    height: 70px;
    font-size: 1.7em;
    font-weight: bold;
    padding-top: 12px;
    line-height: 1.7em;
}

.maincontent h2 {
    color: $font-color-main;
    font-size: 1.3em;
}

.maincontent hr {
    color: $font-color-main;
    background-color: $font-color-main;
    height: 1px;
}

.maincontent .btn .btn-primary {
    background-color: $background-dark;
    color: $font-color-inverse;
}

#div-user-info {
    padding: 5px;
}

#div-user-info p {
    margin: 0;
}

.individual-stats {
    padding: 15px;
}

.individual-cluster {
    position:relative;
}

.individual-cluster-count {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: -8;
    left: 48;
}

.individual-cluster-count {
    background-color: $background-dark;
    color: #fff;
    font-size: 1.6em;
}

.has-icon {
    color: $font-color-main;
    background-size: auto 65px;
    background-repeat: no-repeat;
    padding-left: 75px;
}

.avatar,
.no-avatar {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.no-avatar {
    line-height: 300px;
    text-align: center;
    background: center center no-repeat;
    color: $font-color-heading;
    fonts-size: $font-size-small;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.sight-stats-list {
    list-style: none outside;
}

.sight-stats-list li {
    margin: 15px;
    background: no-repeat cover;
}

.sight-stats-list span {
    font-size: 2em;
}

.sight-stats-list h3 {
    font-size: 1.5em;
    margin: 0;
}

.sight-date {
    color: $font-color-main;
    font-size: 2.5em;
}

.sight-date-text {
    color: #96a1a5;
    font-size: 1.8em;
}

.sight-number {
    color: $font-color-main;
    font-size: 4.0em;
    text-align: center;
}

.sight-stats {
    line-height: normal;
}

.divider {
    text-align: center;
    padding: 15px 0;
}

.being-info {
    display: inline-block;
}

////////////////////////
//photo gallery and map
////////////////////////

#map-sightings {
    margin-top: 10px;
    width: 100%;
    height: 600px;
    border: 5px solid;
    border-color: $border-color-light;
}

#main-photo {
    cursor: zoom-in;
}

.photo-flex {
    display: flex;
}

.photo-flex img {
    align-self: center;
    width: 33%;
    padding: 2px;
}

.photo-group .photo-thumbnail {
    cursor: zoom-in;
}

.photo-group .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}