/* Individual and User Page */

.maincontent {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 80px;
}

.maincontent h1.has-icon,
.maincontent h2.has-icon {
    font-weight: bold;
    font-size: 1.7em;
    line-height: 2.6em;
    margin: 0;
}

.maincontent h2 {
    color: $font-color-main;
}

.maincontent hr {
    color: $font-color-main;
    background-color: $font-color-main;
    height: 1px;
}

.maincontent .btn .btn-primary {
    background-color: $background-dark;
    color: $font-color-inverse;
}

#div-user-info {
    padding: 5px;
}

#div-user-info p {
    margin: 0;
}

.individual-stats {
    padding: 15px;
}

.individual-cluster {
    position:relative;
}

.individual-cluster-count {
    border-radius: 16px;
    width: 32px;
    height: 32px;
    text-align: center;
    position: absolute;
    top: -8;
    left: 48;
}

.individual-cluster-count {
    background-color: $background-dark;
    color: #fff;
    font-size: 1.6em;
}

.has-icon {
    color: $font-color-main;
    background-size: auto 65px;
    background-repeat: no-repeat;
    padding-left: 75px;
}

//invidivual/user avatar

.avatar,
.no-avatar {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 0 auto;
}

.no-avatar {
    text-align: center;
    background: center center no-repeat;
    color: $font-color-heading;
    font-size: $font-size-small;
    border: 2px dashed #8dcbce;
}

.avatar img {
    height: 100%;
    width: 100%;
}

.stats-col {
    height: 280px;
    @include flexbox-display-flex;
    @include flexbox-flex-flow(column nowrap);
    @include flexbox-justify-content(flex-end);
}

.flex-justify-center {
    min-width: 250px;
    @include flexbox-justify-content(center);
}

.sight-number-info,
.sight-photocount-info {
    position: absolute;
    height: 140px;
    left: 0;
    bottom: 15px;
    width: 50%;
    background: center bottom no-repeat;
    background-size: contain;
    background-image: $individual-sightings;
}

.sight-date-info,
.sight-photocount-info,
.sight-voyage-info {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sight-date-info {
    height: 190px;
    background-image: $individual-count;
}

.sight-voyage-info {
    height: 125px;
    background-image: $user-count;
}

.infographic-2,
.infographic-5 {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    @include flexbox-display-flex();
    @include flexbox-flex-flow(column nowrap);
}

.infographic-2 .sight-number-text,
.infographic-5 .sight-photocount-text {
    @include flexbox-align-self(flex-end);
    @include flexbox-order(2);
    text-align: center;
    width: 50%;
}

.infographic-2 .sight-number,
.infographic-5 .sight-photocount {
    @include flexbox-align-self(flex-end);
    @include flexbox-order(1);
    display: block;
    width: 50%;
    text-align: center;
    position: relative;
    top: 30px;
    font-weight: bold;
}

.infographic-1,
.infographic-3,
.infographic-4,
.infographic-6 {
    text-align: center;
}

.infographic-3 {
    @include flexbox-display-flex;
    @include flexbox-flex-flow(column nowrap);
    @include flexbox-justify-content(flex-end);
    height: 250px;
}

.infographic-4 .sight-individual-number {
    padding-right: 5px;
}

//only on large screens:

@media (min-width: 768px) { 
    .infographic-1,
    .infographic-3,
    .infographic-4 {
        text-align: left;
    }
    .infographic-2,
    .infographic-5 {
        margin: 0;
    }
    .sight-number-info,
    .sight-photocount-info {
        background-position: left bottom;
    }
}


.individual-stats {

    .sight-stats-list span {
        font-size: 2em;
    }

    .sight-stats-list h3 {
        font-size: 1.5em;
        margin: 0;
    }

    .sight-date,
    .sight-individual-number,
    .sight-voyage {
        color: $font-color-main;
        font-size: 2.8em;
        font-weight: bold;
    }

    .sight-date,
    .sight-date-text,
    .sight-individual-number,
    .sight-individual-number-text {
        white-space: nowrap;
        display: inline-block;
    }

    .sight-voyage {
        display: block;
    }

    .sight-voyage-text {
        position: relative;
        bottom: 15px;
        display: inline-block;
        max-width: 150px;
    }

    .sight-date-text,
    .sight-number-text,
    .sight-individual-number-text,
    .sight-photocount-text,
    .sight-voyage-text {
        color: $font-color-heading;
        font-size: 1.8em;
    }

    .sight-date-text,
    .sight-individual-number-text,
    .sight-voyage-text {
        margin-right: 5px;
    }

    .sight-number,
    .sight-photocount {
        color: $font-color-main;
        font-size: 6em;
    }

    .sight-stats {
        line-height: normal;
    }   

}

.divider {
    text-align: center;
    padding: 15px 0;
}

.being-info {
    display: inline-block;
}

////////////////////////
//photo gallery
////////////////////////

.photo-thumbnail,
.photo-thumbnail-main {
    cursor: zoom-in;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
}

.photo-group {
    margin-top: 15px;
    margin-bottom: 15px;    
}

.photo-group .photo-thumbnail {
    min-height: 250px;
    border-style: solid;
    border-width: 2px 1px;
    border-color: $background-default;
}

.photo-group .photo-thumbnail-main {
    width: 100%;
    height: auto;
}

//This is a little message that shows up on extra small devices
.more-images-mobile {
    color: $font-color-main;
    font-size: 1.7em;
}

.photo-thumbnail:first-child {
    border-left-width: 0;
}

.photo-thumbnail:last-child {
    border-right-width: 0;
}

//submitters section of individual

.submitters {
    padding: 0;
    list-style-type: none;
    display: inline;
}

.submitters li {
    display: inline;
}

//individual sightings on the user page

.individual-sightings {
    padding: 0;
    list-style: none outside;
}

//Share message at bottom of page

.share-action {
    text-align: center;
}