/* Map Tool */
#map-sightings {
    margin-top: 10px;
    width: 100%;
    height: 600px;
    border: 5px solid;
    border-color: $border-color-light;
}

.individual-popup {
    dt {
        text-transform: uppercase;
        font-size: 1.5em;
        color: $font-color-heading;
    }
    dd {
        font-size: 1.5em;
        color: $font-color-main;
    }
    .popup-avatar {
        text-align: center;
        img {
            width: 150px;
        }
    }
}