/* Page */

.page-full,
.page-inner {
    position: relative;
    width: 100%;
    margin: 0 auto 80px;
}

.page-full {
    max-width: 1280px;
}

.page-inner {
    max-width: 1028px;
}

.error-page-background-full {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: $not-found;
    h1 {
        color: $font-color-inverse;
    }
    p {
        color: $font-color-inverse;
    }
    blockquote {
        background-color: $background-dark;
        color: $font-color-inverse;
    }
}

.login-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    label, .close-modal {
        color: #fff;
    }
    .row {
        height: 100vh;
        padding: 20% 0 0;
    }
    .close-modal {
        position: absolute;
        top: 70px;
        left: 20px;
        font-size: 24px;
        cursor: pointer;
        a {
            text-decoration: none;
        }
    }
    .link {
        color: $font-color-heading;
        cursor: pointer;
    }
    .link:hover {
        color: $font-color-heading2;
    }
}