/* Typography and Icons */

h1, h2, h3, h4, h5, h6, p, div {
    font-family: $font-family;
}

.icon-bullet-individual {
    background-image: $individual-bullet;
}
.icon-voyageviewer {
    background-image: $boat-bullet;
}
.icon-captain {
    background-image: $captain-icon;
}
.icon-user {
    background-image: $human-bullet;
}
.icon-sightings {
    background-image: $binoculars-bullet;
}
.icon-star {
    background-image: $star-bullet;
}

.btn-oversize {
    text-transform: uppercase;
    margin: 20px 12px;
    font-size: 1.3em;
}