//
// Wildbook (main) variables.scss
// Home for scss variables for colors, typography and layout
//

//Text

$font-family: 'Lato', Helvetica, sans-serif;

//$font-size-base: 18px;

$font-size-small: 12px;

$font-color-main: #000;

$font-color-heading: #222;

$font-color-inverse: #fff;

$font-color-dark: #333;


//Site Colors

$background-default: #fff;

$background-dark: #222;

$background-dark-selected: #111;

$border-color-light: #222;

//Photo Assets

$logo-svg: url(images/logo.svg); //does't exist?