//
// Wildbook (main) variables.scss
// Home for scss variables for colors, typography and layout
//

//Text

$font-family: 'Lato', Helvetica, sans-serif;

//$font-size-base: 18px;

$font-color-main: #000;

$font-color-heading: #222;

$font-color-inverse: #fff;


//Site Colors

$background-default: #fff;

$background-dark: #222;
$background-dark-selected: #111;

//Photo Assets

$logo-svg: url(images/logo.svg); //does't exist?