//
// Wildbook (main) variables.scss
// Home for scss variables for colors, typography and layout
//

//Text

$font-family: 'Lato', Helvetica, sans-serif;

//$font-size-base: 18px;

$font-size-small: 12px;

$font-color-main: #000;

$font-color-heading: #222;

$font-color-inverse: #fff;

$font-color-dark: #333;


//Site Colors

$background-default: #fff;

$background-dark: #222;

$background-dark-selected: #111;

$border-color-light: #222;

//Photo Assets

//these are stubs pointing to assets that don't exist for the default theme

$logo-svg: url(images/logo.svg);

$individual-sightings: url(images/img-binoculars.png);

$individual-count: url(images/img-birds-wave.png);

$user-count: url(images/img-boat-wave.png);

$not-found: url(images/not_found.jpg);
//Icons

//!!!these are stubs pointing to assets that don't exist for the default theme

$individual-bullet: url(images/individual-bullet.svg);

$binoculars-bullet: url(images/img_binoc_circle.svg);

$star-bullet: url(images/img_star_circle.svg);

$boat-bullet: url(images/img_voyageviewer.svg);

$human-bullet: url(images/img_user_on.svg);

$captain-icon: url(images/img_captain.svg);

//Media Uploader Photo Assets

//these are stubs pointing to assets that don't exist for the default theme

$wizard-user: url(images/img_user_on.svg);
$wizard-user-off: url(images/img_user_off.svg);
$wizard-map: url(images/img_map_on.svg);
$wizard-map-off: url(images/img_map_off.svg);
$wizard-upload: url(images/img_upload_on.svg);
$wizard-upload-off: url(images/img_upload_off.svg);

