target
bin
out
tmp
build
.idea*
*.ipr
*.iml
*.iws
*.log
shepherd_derby_database
/mvnCleanInstallOutput
/output.txt
/outputPackage.txt
src/main/webapp/encounters/*20*
/log
/changed
/changedfiles.txt
/buildExam.txt
/shepherd_sqllite_database
/buildOut.txt
/src/main/shepherd_data_dir
/webapps
/config/db/flyway.conf
/config/db/flyway_test.conf
/m2_repo/
/logs/
bower_components
