target
bin
out
build
.idea*
*.ipr
*.iml
*.iws
*.log
shepherd_derby_database
/mvnCleanInstallOutput
/output.txt
/outputPackage.txt
src/main/webapp/encounters/*20*
/log
/changed
/changedfiles.txt
/buildExam.txt
/shepherd_sqllite_database
/buildOut.txt
/src/main/shepherd_data_dir
/webapps
/src/main/resources/bundles/s6db.properties
/config/db/flyway.conf
