link(rel='stylesheet', href="bcomponents/ag-grid/ag-grid.min.css")
link(rel='stylesheet', href="bcomponents/ag-grid/theme-fresh.min.css")

script(src="bcomponents/angular/angular.js")
script(src="bcomponents/moment/moment.js")
script(src="bcomponents/ag-grid/ag-grid.min.js")
script(src="javascript/controllers/main.js")
script(src="javascript/controllers/mediaSubmitAdmin.js")
