link(rel='stylesheet', href="bcomponents/ag-grid/angular-grid.min.css")
link(rel='stylesheet', href="bcomponents/ag-grid/theme-fresh.min.css")

div(ng-controller="MediaSubmissionController")
    div(ng-show="!submission")
        h1 Media Submissions
        .ag-fresh(ag-grid="msGridOptions", style="height: 400px;")

    div.ng-cloak(ng-show="submission")
        h2 Edit Media Submission
        h3.text-primary {{submission.user.displayName}}
        button.btn.btn-primary(ng-click="doneEditing()") Done
        button.btn.btn-danger.pull-right(ng-click="deleteSubmission()") Delete
        .ag-fresh(ag-grid="imageGridOptions", style="height: 400px;")

script(type="text/ng-template", id="zoomimage.html")
    .modal-body
        img(src="{{zoomimage}}")
    .modal-footer
        button.btn.btn-primary(ng-click="cancel()") Close

script(src="bcomponents/angular/angular.js")
script(src="bcomponents/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="bcomponents/moment/moment.js")
script(src="bcomponents/ag-grid/angular-grid.min.js")
script(src="javascript/media/mediaSubmitAdmin.js")
