link(rel='stylesheet', href="tools/datatables/css/jquery.dataTables.min.css")
//link(rel='stylesheet', href="css/mediaSubmission.css")

div(ng-controller="MediaSubmissionController")
    div(ng-show="!submission")
        h1 Media Submissions
        table#mstable.cell-border

    div(ng-show="submission")
        h2 Edit Media Submission
        button.btn(ng-click="doneEditing()") Done
        {{submission.user.displayName}}
        table#imagetable

script(src="bcomponents/angular/angular.js")
script(src="bcomponents/moment/moment.js")
script(src="tools/datatables/js/jquery.dataTables.js")
script(src="javascript/media/mediaSubmitAdmin.js")
