link(rel='stylesheet', href="tools/datatables/css/jquery.dataTables.min.css")

h1 Media Submissions
table#mstable

script(src="tools/datatables/js/jquery.dataTables.js")
script(src="javascript/media/mediaSubmitAdmin.js")