// Need this parent div because as an angular directive it must have a single parent element
div(wb-key-handler-watch-scope="parent")
    .button.btn.btn-primary(ng-click="panLeft()", ng-disabled="isLeftDisabled()")
        i.glyphicon.glyphicon-chevron-left
    .button.btn.btn-primary(ng-click="panRight()", ng-disabled="isRightDisabled()")
        i.glyphicon.glyphicon-chevron-right
    div(ng-show="! zoomimage", style="display: flex; flex-wrap: wrap")
        div(ng-repeat="photo in getVisPhotos()")
            a(href="javascript:;", ng-click="viewImage(photo)")
                img(ng-src="{{photo.thumbUrl}}", style="padding: 2px; max-width: 100%")
            div(style="font-size: 12px") {{getTimestamp(photo)}}
    .ng-cloak(ng-show="zoomimage", style="position: relative; width: 800px; height: 600px;", wb-key-handler-form)
        div
            img.ng-cloak(ng-src="{{zoomimage.midUrl}}")
        div(style="position: absolute; top: 0px; right: 5px; width: 24px; height: 24px" tooltips title="Close")
            button.btn.btn-primary(ng-click="viewImage(null)")
                i.glyphicon.glyphicon-check
        div(style="position: absolute; top: 0px; right: 50px; width: 24px; height: 24px" tooltips title="Download")
            button.btn.btn-primary
                a(target="_self", href="{{zoomimage.url}}", download="{{zoomimage.url.substring(zoomimage.url.lastIndexOf('/')+1)}}")
                    i.glyphicon.glyphicon-download
        div(ng-repeat="action in actions"
            ng-style="{'position': 'absolute', 'top': '0px', 'right': '{{95 + (45 * $index)}}px', 'width': '24px', 'height': '24px'}"
            tooltips title="{{action.tooltip}}")
            button.btn(ng-class="'btn-' + (action.type || 'default')" ng-click="performAction(action)")
                i.glyphicon(ng-class="'glyphicon-' + (action.buttonIcon || 'check')")
            