div(layout="row" flex="100" layout-align="start center" layout-margin)
    md-input-container
        label Organization
        md-select(ng-model="org" placeholder="Organization")
            md-option(ng-value="org" ng-repeat="org in orgs") test
    md-autocomplete(md-floating-label="Search Organizations" md-selected-item="org" 
                    md-search-text="orgSearch" md-items="org in orgs" 
                    md-item-text="org.displayName")
        span(md-highlight-text="searchText") {{org.displayName}}
    md-button.md-whiteframe-1dp.height-36(aria-label="New Encounter") New Encounter