extends ../admin
block adminScripts
    script(src="javascript/controllers/encounter_search.js")
    script(src="javascript/controllers/encounter_edit.js")
    script(src="javascript/page/encounterSearchPage.js")
block content
    wb-encounter-search-page
