extends ../admin
block adminScripts
    script(src="javascript/controllers/encounter_edit.js")
    script(src="javascript/controllers/encounter_search.js")
    script(src="javascript/controllers/survey_edit.js")
    script(src="javascript/controllers/survey_search.js")
    script(src="javascript/page/mediaSubmitAdmin.js")

block content
    wb-media-submission-admin
