link(rel='stylesheet', href="bcomponents/ag-grid/ag-grid.min.css")
link(rel='stylesheet', href="bcomponents/ag-grid/theme-fresh.min.css")
link(rel='stylesheet', href="bcomponents/seiyria-bootstrap-slider/bootstrap-slider.css")
link(rel='stylesheet', href="bcomponents/angular-busy/angular-busy.css")

script(src="bcomponents/angular/angular.js")
script(src="bcomponents/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="bcomponents/seiyria-bootstrap-slider/bootstrap-slider.js")
script(src="bcomponents/angular-bootstrap-slider/slider.js")
script(src="bcomponents/angular-animate/angular-animate.js")
script(src="bcomponents/angular-busy/angular-busy.js")
script(src="bcomponents/moment/moment.js")
script(src="bcomponents/ag-grid/ag-grid.min.js")
script(src="javascript/controllers/keyevent_handler.js")
script(src="javascript/controllers/main.js")
script(src="javascript/templates.js")
script(src="javascript/controllers/thumb_box.js")
block scripts

block content