extends admin

block adminScripts
    script(src="javascript/controllers/mediaSubmitAdmin.js")

block content
    div(ng-controller="MediaSubmissionController")
        div(ng-show="!submission")
            h1 Media Submissions
            .ag-fresh(ag-grid="msGridOptions", style="height: 590px")

        div.ng-cloak(ng-show="submission")
            .container-fluid
                .row
                    .col-md-12
                        .row
                            .col-md-8.col-sm-6
                                h3 Edit Media Submission [{{submission.id}}]
                            .col-md-4.col-sm-6
                                span.media-admin-edit-icon
                                    button.btn.btn-primary(ng-click="doneEditing()")
                                        i.glyphicon.glyphicon-check
                                span.media-admin-edit-icon
                                    button.btn.btn-danger(ng-click="deleteSubmission(submission)")
                                        i.glyphicon.glyphicon-trash
                .row
                    .col-md-2
                        div.media-admin-nav
                            span.media-admin-nav-label Surveys
                            a(href="javascript:;", ng-click="showPanel('survey_search')"
                              title="Search for a Survey", data-toggle="tooltip")
                                i.glyphicon.glyphicon-search
                            a(href="javascript:;", ng-click="addSurvey()"
                              title="Add a new Survey", data-toggle="tooltip")
                                i.glyphicon.glyphicon-plus
                            ul.list-group
                                li.list-group-item(ng-repeat="surveyEnc in surveyEncs")
                                    span {{surveyEnc.surveypart.survey.organization.displayName}} - {{surveyEnc.surveypart.survey.surveyNumber}}
                                    a(href="javascript:;", ng-click="addEncounter(surveyEnc.surveypart)", title="Add a new Encounter", data-toggle="tooltip")
                                        i.glyphicon.glyphicon-plus
                                    .list-group
                                        a.list-group-item(href="javascript;:", ng-repeat="encounter in surveyEnc.encounters", ng-click="editEncounter(encounter)")
                                            .encounter-item
                                                .display-name {{encounter.individual.displayName}}
                                                .display-date {{main.dateStringFromRest(encounter.encDate)}}
                                                .display-location {{encounter.location.locationid}}
                        div.media-admin-nav
                            span.media-admin-nav-label Encounters
                            a(href="javascript:;", ng-click="searchEncounter()",
                              title="Search for an Encounter", data-toggle="tooltip")
                                i.glyphicon.glyphicon-search
                            a(href="javascript:;", ng-click="addEncounter()",
                              title="Add a new Encounter", data-toggle="tooltip")
                                i.glyphicon.glyphicon-plus
                            .list-group
                                a.list-group-item(href="javascript;:", ng-repeat="encounter in encounters", ng-click="editEncounter(encounter)")
                                    .encounter-item
                                        .display-name {{encounter.individual.displayName}}
                                        .display-date {{main.dateStringFromRest(encounter.encDate)}}
                                        .display-location {{encounter.location.locationid}}
                    .col-md-10
                        .container-fluid
                            .row
                                .col-md-12
                                    span.text-primary Submitted by:
                                    | &nbsp{{submission.user.displayName}}
                                    span.text-primary &nbspon:
                                    | &nbsp{{timeToDate(submission.timeSubmitted)}}
                            .row
                                .col-md-6
                                    span {{submission.description}}
                                .col-md-6
                                    span {{submission.verbatimLocation}}
                            .row
                                .col-md-12
                                    //.row(ng-show="! zoomimage", ng-repeat="photo in photos", ng-if="$index % 6 == 0")
                                    //    .col-md-2(ng-repeat="idx in [0,1,2,3,4,5]", style="padding-left: 0px; padding-right: 0px")
                                    //        a(href="javascript:;", ng-click="viewImage(photos[idx + $parent.$index])")
                                    //            img(ng-src="{{photos[idx + $parent.$index].thumbUrl}}", style="padding: 2px; max-width: 100%")
                                    //        span {{main.dateStringFromRest(photos[idx + $parent.$index].timestamp)}}
                                    div(ng-show="! zoomimage", style="display: flex; flex-wrap: wrap")
                                        div(ng-repeat="photo in photos")
                                            a(href="javascript:;", ng-click="viewImage(photo)")
                                                img(ng-src="{{photo.thumbUrl}}", style="padding: 2px; max-width: 100%")
                                            div(style="font-size: 12px") {{main.dateStringFromRest(photo.timestamp)}}
                                    div.ng-cloak(ng-show="zoomimage", style="position: relative; width: 800px; height: 600px;")
                                        div
                                            img.ng-cloak(ng-src="{{zoomimage.midUrl}}")
                                        div(style="position: absolute; top: 0px; right: 5px; width: 24px; height: 24px")
                                            button.btn.btn-primary(ng-click="viewImage(null)")
                                                i.glyphicon.glyphicon-check
                                        div(style="position: absolute; top: 0px; right: 50px; width: 24px; height: 24px")
                                            button.btn.btn-primary
                                                a(target="_self", href="{{zoomimage.url}}", download="{{zoomimage.url.substring(zoomimage.url.lastIndexOf('/')+1)}}")
                                                    i.glyphicon.glyphicon-download
                                        div(style="position: absolute; top: 0px; right: 95px; width: 24px; height: 24px")
                                            button.btn.btn-danger(ng-click="deleteImage(zoomimage.id)")
                                                i.glyphicon.glyphicon-trash
                            .row
                                .col-md-12
                                    include partials/encounter_view
                                    include partials/survey_search
                                    include partials/survey_edit
                                    include partials/encounter_search
                                    include partials/encounter_edit
