include mixins.jade
doctype html
html(lang="en")
    head
        title
            block title
                | Email Template
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")

        //- responsive email grid system
        include ink.jade

        //- wildbook email styles
        include css.jade

        //- custom css from a specific email template
        block customcss
body
    +tablebody()
        +container()
            +outerrow()
                +wrapper("panel")(class="last")
                    +column()(class='twelve columns')
                        block content
            block boxes

            include footer.jade