//- global css for ink and wildbook emails
style(type="text/css").
    .body {
        background: #107d9f;
    }
    .panel {
        background: #fff;
        border-color: #000;
    }
    .inverse-color .text-pad {
        color: #fff;
    }
