//- global css for ink and wildbook emails
style(type="text/css").
    body, table.body, h1, h2, h3, h4, h5, h6, p, td {
        color: #666;
    }
    .body {
        background: #107d9f;
    }
    .panel {
        background: #fff;
        border-color: #666;
    }
    .inverse-color {
        color: #fff;
    }
    .no-padding td {
        padding-bottom: 0 !important;
    }
    .no-padding td.pad-button {
        padding-bottom: 5px !important;
    }
    .logo {
        text-align: right;
    }
    .logo img {
        position: relative;
        top: -5px;
        float: none;
        display: inline-block;
    }
    .greeting {
        vertical-align: bottom;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .middle {
        vertical-align: middle;
    }
    .top {
        vertical-align: top;
    }
    a.alert {
        color: #970B0E;
        font-weight: bold;
    }
    .footer .panel {
        background: #107d9f;
        border: none;
    }
    .footer td {
        color: #fff;
    }
    .footer a {
        text-decoration: underline;
        color: #fff;
    }
    .footer .logo img {
        position: relative;
        top: -40px;
    }
    .footer a:hover,
    .footer a:visited,
    .footer a:active {
        color: #fff !important;
    }
    .useful_links img {
        float: none;
        display: inline-block;
        max-width: 65px;
    }
    div.submission,
    div.match {
        padding: 15px;
    }
    div.submission img {
        margin: 10px 0;
    }

    @media only screen and (min-width: 601px) {
        div.submission img {
            max-width: 550px;
        }
    }