//- global css for ink and wildbook emails
style(type="text/css").
    .body {
        background: #107d9f;
    }
    .panel {
        background: #fff;
        border-color: #000;
    }
    .inverse-color {
        color: #fff;
    }
    .button {
        min-width: 250px;
    }
    .no-padding td {
        padding-bottom: 0 !important;
    }
    .no-padding td.pad-button {
        padding-bottom: 5px !important;
    }
    .logo {
        text-align: right;
    }
    .logo img{
        float: none;
        display: inline-block;
    }
    .left {
        text-align: left;
    }
    .right {
        text-align: right;
    }
    .footer .panel {
        background: #107d9f;
        border: none;
    }
    .footer td {
        color: #fff;
    }
    .footer a {
        text-decoration: underline;
        color: #fff;
    }
    .footer .logo img {
        position: relative;
        top: -40px;
    }
    .footer a:hover,
    .footer a:visited,
    .footer a:active {
        color: #fff !important;
    }