+outerrow()
    +wrapper("panel")(class="footer")
        table.twelve.columns
            tr
                td.four.sub-columns.left.text-pad-left.inverse-color(align="left")
                    span &copy 2015 All rights reserverd
                td.eight.sub-columns.right.inverse-color(align="right")
                    a(href="/")= "Terms of use"
                    span()= " | "
                    a(href="/")= "Unsubscribe"
+outerrow()
    +wrapper("panel")(class="footer")
        table.twelve.columns
            tr
                td.four.sub-columns.left.text-pad-left.inverse-color(align="left")
                    div Wildbook
                    div 1 Yemen Rd.
                    div Yemen 1234
                    div (503) 954-2345
                td.four.sub-columns.center.inverse-color.logo(align="center")
                    img(src="http://happywhale.com/cust/images/logo.svg", alt="HappyWhale Logo", height="90", width="92")
                td.four.sub-columns.right.inverse-color(align="right")
                    //- TODO: Images instead of text for social:
                    div
                        a(href="/") Instagram
                    div
                        a(href="/") Facebook
                    div
                        a(href="/") Twitter