//- message header
table.container
    tr
        td.sub-columns.six.right-text-pad.greeting
            h1 Hi [you],
        td.sub-columns.six.left-text-pad.logo(align="right")
            img(src="http://happywhale.com/cust/images/logo.svg", alt="HappyWhale Logo", height="90", width="92")