//- mixins
mixin tablebody()
    table.body
        tr
            td.center(align="center", valign="top")
                center
                    block

mixin container()
    table.container
        tr
            td
                block

mixin tablerow()
    table.row
        tr
            td.wrapper
                block

mixin wrapper(panel)
    table.wrapper&attributes(attributes)
        tr
            if(panel == 'panel')
                td.panel
                    block
            else
                td.inverse-color
                    block

mixin column(padding)
    table&attributes(attributes)
        tr
            if(padding == 'padding')
                td.text-pad
                    block
            else
                td
                    block
            +expander()

mixin expander()
    td.expander

mixin button(content, href)
    table.button.medium-buttom&attributes(attributes)
        tr
            td
                a(href="#{href}")= content