//- mixins
mixin tablebody()
    table.body
        tr
            td.center(align="center", valign="top")
                center
                    block

mixin container()
    table.container
        tr
            td
                block

mixin tablerow()
    table.row
        tr
            td
                block

mixin wrapper()
    table.wrapper
        tr
            td
                block