//- mixins
mixin tablebody()
    table.body
        tr
            td.center(align="center", valign="top")
                center
                    block

mixin container()
    table.container&attributes(attributes)
        tr
            td
                block

mixin outerrow()
    table.row
        tr
            td.wrapper.last
                block

mixin innerrow()
    table.row
        tr
            block

mixin wrapper(panel)
    table.wrapper&attributes(attributes)
        tr
            if(panel == 'panel')
                td.panel
                    block
            else
                td
                    block

mixin column(padding)
    table&attributes(attributes)
        tr
            if(padding == 'padding')
                td.text-pad
                    block
            else
                td
                    block
            +expander()

mixin expander()
    td.expander

mixin centeredbutton(content, href)
    table.row.no-padding
        tr
            td.wrapper.offset-by-three.last
                table.columns.twelve
                    tr
                        td.sub-column.three
                        td.sub-column.six.pad-button
                            table.button.radius.medium-buttom&attributes(attributes)
                                tr
                                    td.pad-button
                                        a(href="#{href}")= content
                        td.sub-column.three
                        +expander