div
    legend Encounter Search
    wb-encounter-search(search-encounter-done="searchEncounterDone(encounter)")
    div(ng-if="encdata")
        div(layout="row" layout-margin layout-align="start center")
            div 
                h4 Encounter
            md-icon.ml-10.mr-10(md-svg-icon="pencil" ng-click="edit()" ng-disabled="mode_edit")
                md-tooltip(md-direction="bottom") Edit
            cancel-button
        md-divider
        wb-encounter-view(ng-if="encdata && ! mode_edit" enc-data="encdata")
        wb-encounter-edit(ng-if="encdata && mode_edit"
                          enc-data="encdata"
                          edit-encounter-done="editEncounterDone(encdata)")
