form.form.ng-cloak(novalidate, wb-key-handler-form)
    wb-individual-search(search-individual-done="searchIndividualDone(individual)")
    wb-individual-edit(ng-if="indData" ind-data="indData" edit-individual-done="editIndividualDone()")