div
    h1 My Account
    div(layout="row" flex="100")
        div(flex="80" layout="column")
            wb-user-view(user="self" ng-show="!edit")
        div(flex="20" layout="column" layout-align="end end")
            md-button.md-whiteframe-1dp(ng-click="edit = true" ng-show="!edit") Edit
    cancel-button(layout-margin cancel="cancel()" ng-show="edit")
    wb-user-edit-fields.mt-5(user="self" title="false" save="save()" ng-show="edit")