div(id="site-admin")
    h1 Site Admin
    div
        h3 Organizations
        wb-org-admin(edit-on-select="true")
    div
        h3 Species
        wb-species-admin
    div
        h3 Vessels
        wb-vessels-admin(edit-on-select="true")
