//- message header
table.container
    tr
        td.sub-columns.six.right-text-pad.greeting
            h1 Hi #{user.fullName},
        td.sub-columns.six.left-text-pad.logo(align="right")
            img(src=cust.info.logo, alt="Logo", height="90", width="92")