Database.Primary.Driver         = org.postgresql.Driver
Database.Primary.UserName       = my_user
Database.Primary.Password       = my_pass
Database.Primary.Url            = jdbc:postgresql://localhost/my_db
Database.Primary.MaxConnections = 12

Database.Test.Driver            = org.postgresql.Driver
Database.Test.UserName          = my_test_user
Database.Test.Password          = my_test_pass
Database.Test.Url               = jdbc:postgresql://localhost/my_test_db
Database.Test.MaxConnections    = 12
