.footer.navbar-fixed-bottom.navbar-inverse
    .container
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href="/about")= t("footer.menu.about")
                li
                    a(href="mailto:info@happywhale.com")= t("footer.menu.contact")
                li
                    a(href="#" ng-click="terms()")= t("footer.menu.terms")
                li
                    a(href="/help")= t("footer.menu.help")
            p.navbar-inverse.copyright &copy; 2015 happywhale, All Rights Reserved