//social-icons.jade
.social-flex
    a.round-icon.icon-facebook(href="https://www.facebook.com/#{config.social.facebook.id}", target="_blank")
    a.round-icon.icon-twitter(href="https://twitter.com/#{config.social.twitter.id}", target="_blank")
    a.round-icon.icon-google-plus()
    //a.round-icon.icon-youtube()
    a.round-icon.icon-instagram(href="https://instagram.com/#{config.social.instagram.id}", target="_blank")
    a.round-icon.icon-linkedin()
    a.round-icon.icon-letter-mail(href="mailto:#{config.social.email}")