div.user-info
    div.user-avatar(data-toggle="tooltip" title="#{user.displayName}")
        if user.avatar
            img(src="#{user.avatar}" )
        else
            img(src="/cust/images/img_user_on.svg")
