form.form.ng-cloak(novalidate, ng-controller="EncounterFormController")
    .form-row
        legend.form-group Encounter
        input(type="hidden", ng-model="encounter.encounterid")
        input(type="hidden", ng-model="encounter.individualid")
    .form-row
        .form-group
            label.control-label Name:
            input.form-control(type="date", ng-model="encounter.encdate")
        .form-group
            label.control-label Latitude:
            input.form-control(type="text", ng-model="encounter.location.latitude")
        .form-group
            label.control-label Longitude:
            input.form-control(type="text", ng-model="encounter.location.longitude")
        .form-group
            labe.control-labell Location ID:
            input.form-control(type="text", ng-model="encounter.location.locationid")
        .form-group
            label.control-label Verbatim Location:
            input.form-control(type="text", ng-model="encounter.location.verbatimLocation")
    .form-row
        input(type="submit", ng-click="update(encounter)", value="Save")
