form.form.ng-cloak(novalidate, ng-controller="EncounterSearchController", ng-show="panels['encounter_search']")
    .form-row
        legend.form-group Search Encounter
    .form-row
        .form-group.col-md-6
            label.control-label Date:
            date-input.form-control(ng-model="searchdata.encdate")
        .form-group.col-md-6
            label.control-label Location:
            input.form-control(type="text", ng-model="searchdata.locationid")
        .form-group.col-md-12
            input(type="submit", ng-click="search()", value="Search")
    .form-row
        .ng-cloak(ng-show="gotresults")
            legend Results
            p.help-block Click an Encounter to attach it to this Submission
            .ag-fresh(ag-grid="gridOptions", style="height: 400px;")
script(src="javascript/controllers/encounter_search.js")
