form.form.form-horizontal.ng-cloak(novalidate, ng-controller="EncounterFormController")
    legend Edit Encounter
    .row
        {{encounter.individual.displayName}}
        .form-group
            label.control-label Name:
            input.form-control(type="date", ng-model="encounter.encdate")
    location-edit(location="encounter.location")
    .row
        .col-md-4
            .form-group
                label.control-label Date:
                date-input.form-control(ng-model="track.partDate")
        .col-md-4
            .form-group
                label.control-label Start Time:
                time-input.form-control(ng-model="track.starttime")
        .col-md-4
            .form-group
                label.control-label End Time:
                time-input.form-control(ng-model="track.endtime")

    input(type="submit", ng-click="update(encounter)", value="Save")
