form.form.ng-cloak(novalidate, ng-controller="EncounterEditController")
    .form-row
        legend.form-group Edit Encounter
    .form-row
        .form-group.col-md-4
            label.control-label Individual:
            label(ng-show="encounter.individual.id") {{encounter.individual.displayName}}
            select.form-control(ng-shaw="!encounter.individual.id"
                                ng-options="species.name for species in main.config.species track by species.code"
                                ng-model="encounter.individual.species")
    .form-row
        fieldset(location="encounter.location", location-edit)
        //location-edit(location="encounter.location")
    .form-row
        .form-group.col-md-4
            label.control-label Date:
            date-input.form-control(ng-model="encounter.encDate")
        .form-group.col-md-4
            label.control-label Start Time:
            time-input.form-control(ng-model="encounter.starttime")
        .form-group.col-md-4
            label.control-label End Time:
            time-input.form-control(ng-model="encounter.endtime")
    .form-row
        input(type="submit", ng-click="save()", value="Save")
script(src="javascript/controllers/encounter_edit.js")
