mixin encounter_listitem(encounters)
    ul
        li(ng-repeat="encounter in encounters")
            a(href="javascript;:", ng-click="editEncounter(encounter)")
                span {{encounter.individual.displayName}} - {{encounter.encdate}}
