form.form.form-horizontal.ng-cloak(novalidate, ng-controller="SurveySearchController")
    legend Survey Search
    .container-fluid
        .col-md-4
            .form-group
                label.control-label Organization:
                input.form-control(type="text", ng-model="surveysearch.orgid")
            .form-group
                label.control-label Vessel:
                input.form-control(type="text", ng-model="surveysearch.vesselid")
        .col-md-4
            .form-group
                label.control-label Survey Number:
                input.form-control(type="text", ng-model="surveysearch.surveynumber")
            .form-group
                label.control-label Code:
                input.form-control(type="text", ng-model="surveysearch.code")
        .col-md-4
            .form-group
                label.control-label Date:
                input.form-control(type="date", ng-model="surveysearch.date")

            input(type="submit", ng-click="search()", value="Search")
    .ng-cloak(ng-show="gotresults")
        legend Results
        .ag-fresh(ag-grid="surveyGridOptions", style="height: 400px;")
