form.form.form-horizontal.ng-cloak(novalidate, ng-controller="SurveyEditController")
    legend Survey Edit
    .container-fluid
        .col-md-4
            .form-group
                label.control-label Organization:
                select.form-control(ng-options="org.displayName for org in maindata.organizations track by org.orgId"
                                    ng-model="survey.organization", ng-change="orgChange()")
                    option(value="") --- select one ---
            .form-group
                label.control-label Vessel:
                select.form-control(ng-model="surveysearch.vesselid")
                    option(value="") --- select one ---
                    option(ng-repeat="vessel in data.vessels", value="{{vessel.vesselId}}"){{vessel.displayName}}
        .col-md-4
            .form-group
                label.control-label Survey Number:
                input.form-control(type="text", ng-model="surveysearch.surveynumber")
            .form-group
                label.control-label Code:
                input.form-control(type="text", ng-model="surveysearch.code")
        .col-md-4
            .form-group
                label.control-label Date:
                input.form-control(type="date", ng-model="surveysearch.date")

            input(type="submit", ng-click="save()", value="Save")
script(src="javascript/controllers/survey_edit.js")
