div
    img.avatar-icon.mr-5(ng-if="data.encounter.individual.avatar" ng-src="{{data.encounter.individual.avatar}}")
    | {{data.encounter.individual.displayName}} - {{data.encounter.individual.species.name}}
    div {{data.encounter.encDate}} - {{data.encounter.starttime}} - {{data.encounter.endtime}}
    wb-thumb-box(ng-show="! mode_edit" photos="data.photos")
