div(layout="row" flex="100")
    md-input-container(flex="50")
        label Date:
        date-input(ng-model="encounter.encdate")
    md-input-container(flex="50")
        label Location:
        input(type="text" ng-model="encounter.location")