div(layout="column")
    div(layout="row" layout-align="start start")
        md-input-container
            label ID:
            input(ng-model="id")
        md-button.md-whiteframe-1dp(type="submit" ng-click="search()" aria-label="Search") Search
    label(style="color: red" ng-show="error") {{error}}
