div
    img.avatar-icon.mr-5(ng-if="data.avatar" ng-src="{{data.avatar}}")
    | {{data.displayName}} - {{data.species.name}}
    div 
        span(ng-show="data.sex") Sex: {{data.sex}}, 
        span Identified: {{data.identified}}
    wb-thumb-box(ng-if="! mode_edit && photos" photos="photos")
