div(layout="row" layout-wrap)
    div(layout="row" flex="100" layout-align="start start")
        md-input-container(flex="50")
            label ID:
            input(ng-model="id")
        md-button.md-whiteframe-1dp(type="submit" ng-click="search()" aria-label="Search") Search
