form.form.ng-cloak(novalidate, wb-key-handler-form)
    md-content
        cancel-button(cancel="cancel()" hideme="individualSearchCancelButtonHide")
        md-tabs(md-border-bottom md-dynamic-height md-selected="selectedTabIndex")
            md-tab(label="Data")
                div(layout="row" layout-wrap)
                    div(layout="row" flex="45" layout-wrap layout-align="start start")
                        div(layout="row" flex="100")
                            label.mt-20 Individual
                        div.mb-20(layout="row" flex="100")
                            wb-individual-search-fields(individual="searchdata.individual")
                    div(layout="row" flex="45" flex-offset="5" layout-wrap layout-align="start start")        
                        div(layout="row" flex="100")
                            label.mt-20 Encounter
                        div.mb-20(layout="row" flex="100")
                            wb-encounter-search-fields(encounter="searchdata.encounter")
                div(layout="row")
                    div(layout="column" flex="45")
                        label.mt-10 Contributor
                        wb-user-search-fields(user="searchdata.contributor")
                div(layout="row" flex="100")
                    div(flex="")
                    md-button.md-whiteframe-1dp(type="submit" ng-click="search()" aria-label="Search") Search
                    md-button.md-whiteframe-1dp(type="button" ng-click="reset()" aria-label="reset") Reset
                legend Special
                div.mt-20(layout="row")
                    wb-individual-id-search(callback="idSearch(ind)" id="indid" flex="25")
                div.mt-20(layout="row")
                    md-button.md-whiteframe-1dp(type="button" ng-click="orphaned()" aria-label="orphaned") Encounterless
            md-tab(label="Results")
                .ag-fresh(ag-grid="gridOptions", style="height: 400px;")
