div(layout="row" flex="100")
    md-input-container(flex="50")
        label Name/ID:
        input(ng-model="searchdata.nameid")
    md-select(flex="45" ng-model="searchdata.species" placeholder="Species")
        md-option(ng-value="species.code" ng-repeat="species in allSpecies") {{species.name}}
    md-icon(flex="" md-svg-icon="close-circle-outline" ng-click="clearSpecies()")
        md-tooltip Clear Species