form.form.ng-cloak(novalidate, wb-key-handler-form)
    md-content(layout="row")
        cancel-button(cancel="cancel()")
        span(flex)
        span {{data.id}}
        md-icon(md-svg-icon="delete" ng-click="delete()")
            md-tooltip(md-direction="bottom") Delete
    md-content(layout="row" layout-align="start center" layout-wrap class="indEditPage")
        div(layout="row" flex="20")
            div(layout="row" layout-align="center center" flex="100" layout-wrap)
                div(photo-dialog type="individual" data="data" avatar="data.avatar" photo="data.avatarFull")
        div(layout="row" flex="80" layout-wrap)
            div(layout="row" layout-align="start end" flex="100")
                md-input-container(flex="33")
                    label Nickname
                    input(ng-model="data.nickname")
                md-select.mb-34(flex="" ng-model="data.species" placeholder="Species" ng-model-options="{trackBy: '$value.name'}")
                    md-option(ng-value="species" ng-repeat="species in allSpecies") {{species.name}}
            div(layout="row" flex="100" layout-align="start center")
                md-input-container(flex="33")
                    label Alternate ID
                    input(ng-model="data.alternateId")
                md-input-container(flex="33")
                    label Sex
                    input(ng-model="data.sex")
                md-input-container.padding-0.ml-10(flex="10")
                    md-checkbox(ng-model="data.identified") Identified
        div(layout="row" flex="100")
            md-input-container(flex="100")
                label Comments
                textarea(ng-model="data.bio")
        div(layout="row" flex="100" layout-align="start center")
            md-button.md-whiteframe-1dp(type="submit" ng-click="save()" aria-label="Save") Save
