extends layout

block customcss
    style(type="text/css").
        body {
            background: #fff;
        }

block title
    | First Submission

block content
    include partials/message-header.jade
    +container()
        p Now is the time to act!
    +centeredbutton('act now!', 'http://google.com')

block boxes
    include partials/useful.jade