extends layout

block customcss
    style(type="text/css").
        body {
            background: #fff;
        }

block title
    | First Submission

block content
    p Now is the time to act!
    +button('act now!', 'http://google.com')

block boxes
    include partials/useful.jade