include partials/mixins.jade
doctype html
html(lang="en")
    head
        title
            block title
                Email Template
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")

        // responsive email grid system
        include partials/ink.jade

        // custom css
        block customcss
body
    +tablebody()
        +container()
            +tablerow()
                +wrapper()
                    block content
            block boxes
            +tablerow()
                +wrapper()
                    include partials/footer.jade