extends partials/layout

block title
    | Reset your password

block content
    include partials/message-header.jade
    +container()
        p A request has been made to reset your password. Click the button below to reset your password and choose a new one.
    +centeredbutton('RESET PASSWORD', 'http://happywhale.com')(class="success")