flyway.url=jdbc:postgresql://localhost/$DB_NAME
flyway.user=$DB_USER
#flyway.password=$DB_PASS #probably don't need this unless you aren't using trusted security
flyway.locations=filesystem:src/main/resources/db/migration
flyway.outOfOrder=true
flyway.sqlMigrationPrefix=
