extends layout

block content
    .maincontent
        section.container-fluid
            h1 About us
            p Share with us your whale photos, and if we are able to recognize individuals, we will tell you what we know about them. Our initial focus is on the whales of the California coastline, in particular the Humpback Whales of Monterey Bay. We know the whales here best, and have a good chance of recognizing any Humpback with a patterned fluke (tail). With every recognizable individual, we’ll share a story of a whale and will allow scientists to know more about the movements and populations of our most magnificent ocean neighbors.
            p Happywhale.com is a project of Animal.us, a Public Benefits Corporation with the mission of enabling people to recognize, connect with and follow individual animals to further science and create a rich understanding of wild species.
    
        section.container-fluid
            h1 The Team
            
            p Happywhale depends on a collaboration between Animal.us, Wildme.org, and Cascadia Research Collective.
    
            p Wildme.org is a tax-exempt non-profit that facilitates development and sharing of information and tools (data and software) to assist with 'best practice' management for wildlife conservation. Wild Me is responsible for the Wildbook open source software framework to support mark-recapture, molecular ecology, and social ecology studies. See 
              a(href="http://www.wildme.org" target="_blank") wildme.org
              |  for more information.
    
            p Cascadia Research Collective is a tax-exempt non-profit research organization founded in 1979 that has coordinated the long term photo-ID efforts on blue, humpback, and gray whales on the US West Coast since the mid 1980s. More recently, photo-ID efforts have expanded to include fin whales, Risso’s dolphins and Cuvier’s beaked whales. See 
              a(href="http://www.cascadiaresearch.org" target="_blank") cascadiaresearch.org
              |  for more information.
     
        section.container-fluid
            h1 The Science: Getting to know individual Humpback Whales
    
            p Why is it important to know whales as individual? Like most large whale species, humpbacks were heavily exploited by whaling throughout their range, but happily most populations have rebounded since receiving protection in the 1970's. The primary method through which this recovery is being measured is photo-identification, where the sighting histories of individually-recognizable individuals are used to estimate population-level trends. Between the increase in whale numbers in many regions, the advent of digital photography, and growing contributions from citizen scientists aboard whale watching vessels, the photographic samples that are increasingly available to researchers often vastly surpass their ability of to process them with current image management technology. Understanding the whales requires analyzing this data, a time intensive process with current technology. For humpbacks in the North Pacific, we may not have the luxury of time. Most subpopulations in the ocean basin were recently proposed for delisting under Endangered Species Act; however, to successfully and responsibly delist a species or population, its size and projected growth must be well-documented. The last major assessment of this population was conducted from 2004-2006, and involved a tremendous amount of manual labor. This same image set should form the basis of the next assessment, but the labor it will require to integrate another substantial photographic collection into it may be untenable under existing methods.
            p Humpbacks are considered one of the easier whale species to individually identify by eye. They are identified by both the markings on the underside of their tail flukes and the overall shape, and while this provides a great deal of information for most whales that a human brain can efficiently process, most computer systems can't quickly and reliably converge on a metric that works for all types of flukes in a population, regardless of marking types. Thus we still rely heavily on manual labor to process these images; with this project we are developing a reliable and efficient computer-based identification system.
    
    
        section.container-fluid
            h1 Help
    
            p Happywhale.com allows you to share photos of whales with scientists. We will compare your images against catalogs of known whales, and notify you of what we find.
    
            p Please 
              a(href="mailto:info@happywhale.com") contact
              |  us if you have any questions or problems.
