extends layout
block content
    .error-page-background-full
        .container-fluid.page-inner
            h1()= page.title
            p()= page.content
            if page.stack
                blockquote()= page.stack