doctype html
html(ng-app="nodeApp")
    head(lang=en)
        title= t("app.title")
        //@todo: + "page.title"
        //@todo: add meta tag "page.description" to head
        meta(name="description", content="")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")
        link(rel='stylesheet', href="/vendor/jquery-ui/css/jquery-ui.css")
        link(rel='stylesheet', href="/vendor/bootstrap/css/bootstrap.min.css")
        link(rel='stylesheet', href='/css/vendors.css')
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/cust/css/cust.css')