extends layout

block content
    div
        if page.error
            blockquote != JSON.stringify(page.error)
            - page.ind = []
        h1.has-icon.icon-happywhale= t("individual.meet", {individualId: page.ind.nickname + "(" + page.ind.id} + ")"})