// Main template file
include head.jade

body(ng-controller='AppController')

include partials/nav.jade

block content

include partials/footer.jade

script(src='/vendor/jquery.min.js')
script(src='/vendor/moment/moment-with-locales.min.js')
script(src='/vendor/jquery-ui/js/jquery-ui.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(src='/vendor/alertplus/js/alertplus.js')
script(src='/vendor/angularjs/angular.min.js')

block configScripts

script(src='/javascript/app.js')

script(src='#{config.wildbook.proxyUrl}/JavascriptGlobals.js')
script(src='#{config.wildbook.proxyUrl}/javascript/core.js')
script(src='#{config.wildbook.proxyUrl}/javascript/auth/auth.js')

block scripts
