extends layout


block content
    .login-modal.reset-page(ng-controller="ResetController" data-token="#{tokenInfo.token}")
        .container-fluid
            .row
                .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.col-xs-10.col-xs-offset-1
                    div(ng-hide="done")
                        h1 Reset Your Password
                        div.form-group
                            label(for="new-password")!= t("passwordReset.enterNew")
                            input#new-password.new-password.form-control(type="password", ng-model="form.password")
                            p.help-block Password must be ...
                        div.form-group
                            label(for="new-password2")!= t("passwordReset.verifyNew")
                            input#new-password-2.new-password-2.form-control(type="password", ng-model="form.password2")
                        div.form-group
                            button.btn.btn-medium.btn-warning(ng-show="form.password == form.password2 && !!form.password", ng-click="reset()")!= t("passwordReset.buttonReset")
                            p.help-block.ng-cloak(ng-show="passwordError") {{ passwordError }}
                    div(ng-show="done")
                        h1 Your Password Has Been Reset.
                        div.form-group
                            a.btn.btn-medium.btn-success(href="/") BACK