form.form.ng-cloak(name="encounterForm" novalidate, wb-key-handler-form)
    md-content(layout="row" layout-align="center center")
        md-input-container(flex="50")
            label Individual:
            input(type="text" disabled="true" ng-value="data.encounter.individual.id ? data.encounter.individual.displayName : '-- New Individual --'")
        md-input-container(flex="50")
            md-select(ng-model="data.encounter.individual.species" ng-model-options="{trackBy: '$value.code'}" placeholder="Species")
                md-option(ng-value="species" ng-repeat="species in getSpecies()") {{species.name}}
    md-content(layout="row" layout-align="center center")
        md-input-container(flex="33" ng-class="{'has-error': encounterForm.date.$invalid}")
            label Date:
            date-input(name="date" ng-model="data.encounter.encDate" required)
        md-input-container(flex="33")
            label Start Time:
            time-input(ng-model="data.encounter.starttime")
        md-input-container(flex="33")
            label End Time:
            time-input(ng-model="data.encounter.endtime")
    md-content
        md-tabs(md-selected="selectedIndex" md-dynamic-height md-border-bottom)
            md-tab(label="Data")
                fieldset(location="data.encounter.location" location-edit)
            md-tab(label="Images")
                wb-thumb-box(ng-if="selectedIndex == 1"
                             photos="data.photos"
                             actions="tbActions"
                             cb-delphoto="deletePhoto(id)"
                             cb-action="performAction(code, photos)")
    md-button(type="submit" ng-click="save()" value="Save" aria-label="Save")
