form.form.ng-cloak(novalidate, wb-key-handler-form)
    md-content
        md-tabs(md-border-bottom md-dynamic-height)
            md-tab(label="Data")
                div(layout="row")
                    md-input-container(flex="50")
                        md-input-container
                            label Date:
                            date-input(ng-model="searchdata.encdate")
                    md-input-container(flex="50")
                        md-input-container
                            label Location:
                            input(type="text", ng-model="searchdata.locationid")
                div(layout="row")
                    md-input-container
                        input(type="submit", ng-click="search()", value="Search")
            md-tab(label="Results")
                .ag-fresh(ag-grid="gridOptions", style="height: 400px;")
