div(layout="row" layout-align="start center" flex="100" layout-wrap)
    md-input-container(flex="20")
        label Location ID:
        input(type="text" name="Location ID" ng-model="location.locationid")
    md-input-container(flex="20")
        label Latitude:
        input(type="number" name="Latitude" ng-model="location.latitude")
    md-input-container(flex="20")
        label Longitude:
        input(type="number" name="Longitude" ng-model="location.longitude")
    md-input-container(flex="20")
        label Accuracy:
        md-select(flex="" ng-model="location.accuracy")
            md-option(ng-value="accuracy.value" name="Accuracy" ng-repeat="accuracy in accuracies") {{accuracy.label}}
    md-input-container(flex="20")
        label Precision Source:
        md-select(flex="" ng-model="location.precisionSource" ng-disabled="location.accuracy !== 'PRECISE'")
            md-option(ng-value="precisionSource.value" name="Precision" ng-repeat="precisionSource in precisionSources") {{precisionSource.label}}
div(layout="row" layout-align="start center" flex="100")
    md-input-container(flex="100")
        label Verbatim Location:
        textarea(name="Verbatim Location" ng-model="location.verbatimLocation")
