div.indiv-avatar-container(layout="row" flex="90" layout-align="center center" ng-click="avatarDialog($event)" ng-class="{'black-background': avatar}")
    md-icon(ng-show="!avatar" md-svg-icon="camera")
    img.avatar-img(ng-if="avatar" ng-src="{{avatar}}")
div
    md-button(class="md-primary" ng-click="avatarDialog($event)") Change
