.search-wrapper
    label.search-field-header
        form
            md-autocomplete(md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                            md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)"
                            md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display"
                            md-min-length="0" placeholder="nickname, id, site, encounter nr., etc.")
                md-item-template
                    span(md-highlight-text="ctrl.searchText" md-highlight-flags="^i") {{item.display}}
                md-not-found
                    Nothing found.
            input(type="submit" value="search")
