// Need this parent div because as an angular directive it must have a single parent element
div(wb-key-handler-watch-scope="parent")
    .row
        .col-md-4
            .button.btn.btn-success(ng-click="panLeft()" ng-disabled="isLeftDisabled()")
                i.glyphicon.glyphicon-chevron-left
            .button.btn.btn-success(ng-click="panRight()" ng-disabled="isRightDisabled()")
                i.glyphicon.glyphicon-chevron-right
        .col-md-4
            .action-icon-box
                button.btn.action-icon(ng-repeat="action in actions" ng-class="'btn-' + (action.type || 'default')"
                                       ng-click="performAction(action)" uib-tooltip="{{action.tooltip}}"
                                       ng-disabled="! zoomimage && thumbbox.selected.length === 0")
                    i.glyphicon(ng-class="'glyphicon-' + (action.glyphicon || 'check')")
                button.btn.btn-success.action-icon(uib-tooltip="Clear Selection" ng-click="clearSelection()" ng-disabled="zoomimage || thumbbox.selected.length === 0")
                    i.glyphicon.glyphicon-erase
        .col-md-4
            md-slider(md-discrete ng-show="sliderMax() != 0 && slider.step != sliderMax()"
                      ng-model="slider.value" min="{{slider.step}}" step="{{slider.step}}"
                      max="{{sliderMax()}}" aria-label="Image Count")
    .row
        .flexy(ng-show="! zoomimage")
            .thumbbox-item(ng-repeat="photo in getVisPhotos()" ng-class="{'selected': thumbbox.meta[photo.id].selected}")
                a(href="javascript:;", ng-click="selectImage($event, photo)")
                    img(ng-src="{{photo.thumbUrl}}", style="padding: 2px; max-width: 100%")
                .flexy
                    div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                        div(ng-class="{zero: (indicator.values[photo.id] === 0)}") {{indicator.values[photo.id]}}
                div(style="font-size: 12px") {{getTimestamp(photo)}}
        .ng-cloak(ng-if="zoomimage", style="position: relative; width: 800px; height: 600px;", wb-key-handler-form)
            div
                img.ng-cloak(ng-src="{{zoomimage.midUrl}}")
                .action-icon-box
                    button.btn.btn-info.action-icon(uib-tooltip="Download")
                        a(target="_self", href="{{zoomimage.url}}", download="{{zoomimage.url.substring(zoomimage.url.lastIndexOf('/')+1)}}")
                            i.glyphicon.glyphicon-download
                    button.btn.btn-success.action-icon(uib-tooltip="Close" ng-click="cancelZoom()")
                        i.glyphicon.glyphicon-check
                .col-md-6
                    .flexy
                        div(ng-repeat="indicator in indicators" class="indicator {{indicator.def.type}} {{indicator.def.displayClass}}")
                            div(ng-class="{zero: (indicator.values[zoomimage.id] === 0)}") {{indicator.values[zoomimage.id]}}
                .col-md-6
                    div(style="font-size: 16px") {{getTimestamp(zoomimage)}}
                        