include ../../partials/mixins.jade
extends ../../partials/layout

block customcss
    style(type="text/css").
        body {
            background: #fff;
        }

block title
    | We're still working on matching your submission from #{subinfo.date}

block content
    include ../../partials/message-header.jade
    +container()
        p It's been #{subinfo.daysSince} days since you submitted your photo to #{cust.info.website}.
        p We wanted to let you know that we are still working on matching your submission to an individual animal. Once a match is made, you will be notified and receive additional information about your sighting.
        p
            h5 Here is some information from your submission:
            +submission(subinfo.photo, subinfo.date, submission.verbatimLocation, subinfo.number)
        p
            span In the meantime, feel free to browse our website to see the most recent submissions and matches of wildlife around the world! 
            b Thank you for supporting our research!
    +centeredbutton('VISIT SITE', cust.info.website)